Ambiente de Impressão/
Ambiente de Rede/
Configurações Locais/
Cookies/
Dados de Aplicativos/
Menu Iniciar/
Meus Documentos/
Modelos/
Recent/
SendTo/
.ntuser.dat*
*.log
AppData/
Desktop/
Documents/
Downloads/
Favorites/
OneDrive/
Music/
Pictures/
Saved Games/
Searches/
Videos/
*.pub
.vscode/
.ssh/
AWS_Step_Functions_Bedrock_Application/
GenAI-Text-Recognition/
prompt-challenger-personal-ia/
webfrontend-2024-2-semana-git-e-github/
